#mainBubble {
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: 0 0 4px rgba(0,0,0,0);
    font: 10px sans-serif;
    height: 800px;
    position: relative;
    width: 100%;
}

#mainBubble svg {
    left: 0;
    position: absolute;
    top: 0;
}

#mainBubble circle.topBubble {
    fill: #aaa;
    stroke: #666;
    stroke-width: 0.5px;
}

#mainBubble svg #bubbleItemNote {
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 300;
}

h1 {
    font-family: "Montserrat", "Nunito", serif;
    font-weight: 400;
}